.imagen {
    filter: brightness(50%);
}
.texto parrafo {
    top: 43%;
    z-index: 700;
    padding-right: 9rem;
}
.texto h3 {
    font-weight: 500;
}
.texto p{
    font-size: 20px;
    font-weight: 400;
}

.pie{
    background-color:rgba(31,80,112,255);
}
.lista{
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    list-style: none;
}
#footer a{
    width: 12rem;
    font-size: 18px;
    color: white;
}
#footer a:hover {
    color: black;
    cursor: pointer;
}